<!--para navegar en los menus del navbar-->
  


<!-- Content Wrapper. Contains page content -->
<div class="content">        
    <!-- Main content -->
    <section class="content container-fluid">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>                        
    </section>
    <!-- /.content -->
</div>

<!-- Main Footer -->
<footer class="main-footer">
<!-- To the right -->
<div class="pull-right hidden-xs">
    <b>Version</b> 1.0
</div>
<!-- Default to the left -->
<strong>Copyright &copy; 2023.</strong> Todos los derechos reservados.
</footer>
