
<!--rango de fecha-->
<div class="row">
  <div class="col-md-3">
        <!--seleccionar el rango de fecha -->
        <mat-form-field style="width:100%;">
          <mat-label>seleccione un rango Fecha de factura</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Fecha inicio">
            <input matEndDate formControlName="end" (dateChange)="valueChanged()" placeholder="Fecha final">
          </mat-date-range-input>                  
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
  
          <mat-error *ngIf="range.controls['start'].hasError('matStartDateInvalid')">Invalido fecha de inicio
          </mat-error>
          <mat-error *ngIf="range.controls['end'].hasError('matEndDateInvalid')">Invalido fecha final
          </mat-error>
        </mat-form-field>
        <!--entre linea--> 
  </div>
</div>
<!--fin de rango de fecha-->

<div class="row">

   <!--selectList Tipo busqueda-->
  <div class="col-md-2">
     
      <mat-form-field style="width:100%;">
        <mat-select [(ngModel)]="filltroSeleccionado">
          <mat-label>Tipo de Busqueda</mat-label>
          <mat-option *ngFor="let tipFiltro of listaTipoFiltro" [value]="tipFiltro.value">
            {{tipFiltro.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>

  <div class="col-md-2">
        <!--input para Busqueda-->
        <mat-form-field appearance="outline" style="width:100%;">
          <mat-label>Busqueda</mat-label>
          <input matInput  [(ngModel)]="textBusqueda" id="busquedaFactura" (keypress)="onEventoKeyPressBuscar($event, busqueda.value)" #busqueda>
          <button  matSuffix mat-icon-button aria-label="Clear" (click)="textBusqueda=''"   >
            <mat-icon>close</mat-icon>
          </button>          
          
        </mat-form-field>

   
  </div>

  <div class="example-button-row">
    <button mat-flat-button color="primary" (click)="onBuscarCliente()">
      <mat-icon>
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M20 19.59V8l-6-6H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c.45 0 .85-.15 1.19-.4l-4.43-4.43c-.8.52-1.74.83-2.76.83-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5c0 1.02-.31 1.96-.83 2.75L20 19.59zM9 13c0 1.66 1.34 3 3 3s3-1.34 3-3-1.34-3-3-3-3 1.34-3 3z" />
          </svg>
      </mat-icon>
      Buscar
    </button>  
  </div>

</div>






