<div class="body">
  <!-- Cards with media area -->
  <mat-card class="example-card border border-warning" style="border-radius:10px; border:3px solid #31b879!important; align-self: center">
      <mat-card-title-group>
          <mat-card-title></mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
          <div class="login">
              <img [src]="logo" alt="" width="50%" height="80%">
              <h1 class="h3 mb-3 fw-normal">Sistema COVENTAF</h1>

              <form [formGroup]="frmLoginForm" (ngSubmit)="onSubmit()">
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="usuario" placeholder="username" formControlName="usuario">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>

              <div class="input-group mb-3">
                <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- /.col -->
               <div class="col-12">
                <!-- <button type="submit" class="btn btn-primary btn-block">Sign In</button>-->
                 <button type="submit" class="btn-block"  mat-raised-button mat-button color="warn">Ingresar</button>
               </div>
               <!-- /.col -->
             </div>
            </form>
            
          </div>
      </mat-card-content>
  </mat-card>
</div>
